/*blockquote*/


blockquote {

    border: none;
  }
/*Social button*/
#social-buttons .btn{
  color: white;
}

.btn-twitter{
  background-color: turquoise;
}

.btn-facebook{
  background-color: blue;
}

.btn-pinterest{
  background-color: red;
}
