body, html {
    height: 100%;
}

.hero-image {
    background-image: url("../images/champagne-glasses-couple1.jpg");
    height: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0px;
}

.hero-text {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 220px;
    font-family: "Sacramento", Arial, serif;
}

.nav, .nav a{
    color: white;
}

.heading {
  color: white;
  font-size: 2.5em;
  font-style: italic;
}
.style-heading{
  margin-bottom: 20px;
    font-size: 100px;
    line-height: 1.5;
    font-family: "Sacramento", Arial, serif;
    font-style: oblique;
    color: #F14E95;
        line-height: 2.0;
}

.text-right{
  text-align: center;
  color: white;
}
.text-centre{
  text-align: center;
  font-size: 50px;
